@media (prefers-color-scheme: light) {
:root {
	--bg: #fbf1c7;
	--fg: #282828;
	--err: #cc241d;
	--err-sh: #9d0006;
	--ok: #689d6a;
	--ok-sh: #427b58;
	--neut: #7c6f64;
	--neut-sh: #665c54;
}}
@media (prefers-color-scheme: dark) {
:root {
	--bg: #1e1e2e;
	--fg: #cdd6f4;
	--err: #f38ba8;
	--err-sh: rgba(243, 139, 168, 0.5);
	--ok: #a6e3a1;
	--ok-sh: rgba(166, 227, 161, 0.5);
	--neut: #f2cdcd;
	--neut-sh: rgba(242, 205, 205, 0.5);
}}

body, .input {
    font-size: 16px;
	text-align: center;
	line-height: 1.5;
    margin: 0;

	background-color: var(--bg);
	color: var(--fg);
}

.label {
    display: block;
    margin: 0 0 5px;
	font-weight: bold;
}

input {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  box-shadow: 0 0.4rem var(--neut);
  cursor: pointer;
  outline: none;
}

input:focus, input:focus-visible {
  border: 2px solid var(--ok);
}


.button {
 padding: 17px 40px;
 border-radius: 10px;
 border: 0;
 background-color: var(--neut);
 letter-spacing: 1.5px;
 font-size: 16px;
 transition: all .3s ease;
 box-shadow: var(--neut-sh) 0px 10px 0px 0px;
 color: var(--bg);
 text-decoration: none;
}

.button#del {
	background-color: var(--err);
 	box-shadow: var(--err-sh) 0px 10px 0px 0px;
}
.button#del:hover { box-shadow: var(--err-sh) 0px 7px 0px 0px; }
.button#del:active { box-shadow: var(--err-sh) 0px 0px 0px 0px; }

.button#ok {
	background-color: var(--ok);
 	box-shadow: var(--ok-sh) 0px 10px 0px 0px;
}
.button#ok:hover { box-shadow: var(--ok-sh) 0px 7px 0px 0px; }
.button#ok:active { box-shadow: var(--ok-sh) 0px 0px 0px 0px; }

.button:hover {
 box-shadow: var(--neut-sh) 0px 7px 0px 0px;
}

.button:active {
 box-shadow: var(--neut-sh) 0px 0px 0px 0px;
 transform: translateY(5px);
 transition: 200ms;
}

nav {
	margin-top: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 2.5em;
}

nav ul li {
	list-style: none;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	gap: 2em;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20em;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
}

.setup {
	align-self: center;
	flex-flow: column;
	gap: 2em;
}

form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 10px;
	gap: 15px;
	width: 60em;
}

.formBlock {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

::selection {
	background-color: var(--fg);
	color: var(--bg);
}

input {
	accent-color: var(--ok);
}

.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px; 
 }

 input[type=checkbox] {
	 border: none;
	 box-shadow: 0 0.2rem var(--neut);
	}

 #qrcode {
	 border-radius: 10px;
	 background: var(--neut);
	 padding: 8px;
	 box-shadow: var(--neut-sh) 4px 4px 0px 0px;
	 margin-top: 1.5em;
}

#bottom {
	margin-top: 1.5em;
}
