body, .input {
    font-size: 16px;
	text-align: center;
	line-height: 1.5;
    margin: 0;

	background-color: #fbf1c7;
	color: #282828;
}

.label {
    display: block;
    margin: 0 0 5px;
	font-weight: bold;
}

input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  outline: none;
}

input:focus, input:focus-visible {
  outline-color: lightcoral;
  border: 2px solid lightcoral;
}


.button {
 padding: 17px 40px;
 border-radius: 10px;
 border: 0;
 background-color: rgb(255, 56, 86);
 letter-spacing: 1.5px;
 font-size: 15px;
 transition: all .3s ease;
 box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
 color: hsl(0, 0%, 100%);
 text-decoration: none;
}

.button:hover {
 box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.button:active {
 background-color: rgb(255, 56, 86);
 /*50, 168, 80*/
 box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
 transform: translateY(5px);
 transition: 200ms;
}

nav {
	margin-top: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav ul li {
	list-style: none;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5em;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20em;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
}

.setup {
	align-self: center;
	flex-flow: column;
	gap: 2em;
}

form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 10px;
	gap: 15px;
	width: 60em;
}

.formBlock {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

::selection {
	background-color: #282828;
	color: #fbf1c7;
}

input {
	accent-color: rgb(255, 56, 86);
}

.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px; 
 }
